.container {
  padding: 0 3rem;
}
.bd-blue-800 {
  background-color: #052c65;
}
.blue-800 {
  color: #052c65;
}

.loginImg {
  width: 50vw;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
